<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>How to find my steam ID?</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" type="text/css"/>

</head>
<body>
<div class="container">
    <h2>How to find your steam ID (for use with the bptf mobile app)</h2>
    <p>
        <b>1)</b> Go to <a href="http://steamcommunity.com/my/profile" target="_blank">your steam profile</a> either in
        your browser or in Steam.<br/>
        If you use steam make sure the 'Display URL' option is enabled.<br/>
        <img src="/images/steam_settings.jpg" alt="Enable the 'Display URL' option"/>
    </p>
    <p>
        <b>1a) Optional.</b> Set a custom profile URL if you haven't already by clicking on Edit on your profile
        page.<br/>
        <img src="/images/steam_custom_url.jpg" alt="Custom URL"/>
    </p>
    <p>
        <b>2)</b> Find your ID.<br/>
        Have a look at the link of your profile in your browser or in Steam at the top of the window.
        If you have set a custom URL, your profile link will look like this:<br/>http://steamcommunity.com/id/<u><b>customurl</b></u><br/><br/>
        If you haven't set a custom URL, your profile link will look like
        this:<br/>http://steamcommunity.com/profiles/<u><b>7656119XXXXXXXXX</b></u><br/><br/>
        In either case your ID you have to usein the app is the last part of your profile link. So in the above example
        it would be <u>customurl</u> or <u>7656119XXXXXXXXX</u>.<br/>
        Copy your ID into the app and you should be able to login just fine.
    </p>
</div>

</body>
</html>